 <style>
   .maincontainer{
   float:left;
    background-color:#A9F5A9;
    border:1px solid;
    width:800px;
	padding:20px;
   
   } 
     .myname{
	 background-color:#7FFFD4;
     float:right;
     border:1px solid;           
     width:400px;
	 padding:2px;
     }
     
   .pic{
     float:left;
   }
   
   .time{
  background-color:#7FFFD4;
   margin-top:40px;
     border:1px solid;
     float:right;
	 width:400px;
   }
   
   .profile{
   background-color:#7FFFD4;
    float:right;
    border:1px solid;
	width:400px;
   }
   </style>    


  <div class = "maincontainer">
    <div class="pic">
    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQsfA5TqvE_fvrIaKKQ22dj4AhwmT6ItkMz7a4mnE2-JZMzD0DvAmgptQs" alt="The baby" style="width:200px;height:200px">
    </div>
 
    <div class="myname">
      <p>Amoy Patterson</p>
      </div>
      
      <div class="time">
        <p>{{time}}</p>
     </div>
            <div class="profile">
            <p>Username:Moi</p>
            <p>ID:620058941</p>
            <p>Sex:Female</p>
            <p>Age:22</p>
            <p>Highest Score:400</p>
            <p>TDollar:$600</p>
      </div>
   </div>
   


